{% extends 'base.html' %}

{% block header %}
<a style="width:25%" class="w3-bar-item w3-button" href="{{domains.ctf}}/admin">Admin</a>
<a style="width:25%" class="w3-bar-item w3-button" href="{{domains.cla}}/">Register</a>
<a style="width:25%" class="w3-bar-item w3-button" href="{{domains.ctf}}/">Vote</a>
<a style="width:25%" class="w3-bar-item w3-button" href="{{domains.ctf}}/results">Results</a>
{% endblock %}

{% block content %}
{% if session.username %}
    <h2 class="w3-center">Welcome {{session.username}} <a href="/admin/logout">logout</a></h2>
    {% if addvoting %}
    <form action="/admin/addvoting" method="POST" class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
    <h2 class="w3-center">Voting</h2>
    <input class="w3-input w3-border" name="voting_name" type="text" placeholder="Voting Name">
    <input class="w3-input w3-border" name="voting_desc" type="text" placeholder="Voting Description">
    <h2 class="w3-center">Candidates</h2>
    <button type="button" class="w3-button w3-section w3-black w3-ripple" id="add">Add</button>
    <button type="button" class="w3-button w3-section w3-black w3-ripple" id="remove">Remove</button>
    
    <input type="hidden" name="candidates_number" value="2" id="total_chq">
    <div id="new_chq">
        <input class="w3-input w3-border" name="candidate_name1" type="text" placeholder="Candidate Name 1">
        <input class="w3-input w3-border" name="candidate_name2" type="text" placeholder="Candidate Name 2">
    </div>
    <button type="submit" class="w3-button w3-section w3-black w3-ripple" value="Add Voting">Add Voting</button>
    </form>
    {% endif %}
{% else %}
    <form action="/admin/login" method="POST" class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
    <h2 class="w3-center">LOGIN</h2>
    <input class="w3-input w3-border" name="username" type="text" placeholder="Username">
    <input class="w3-input w3-border" name="password" type="password" placeholder="Password">
    <button class="w3-button w3-section w3-black w3-ripple"> Login </button>
    </form>
    {% if loginmessage %}
        <h2 class="w3-center">{{loginmessage}}</h2>
    {% endif %}
{% endif %}

{% if message %}
<h2 class="w3-center">{{message}}</h2>
{% endif %}
{% endblock %}

{% block footer %}
<a href="{{domains.ctf}}/admin/addvoting" style="width:100%" class="w3-bar-item w3-button">Add Voting</a>
{% endblock %}

{% block bodyend %}
{% if addvoting %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{domains.ctf}}/static/adminform.js"></script>
{% endif %}
{% endblock %}