[Unit]
Description=vebmain daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/veb/

ExecStart=/usr/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/veb/main.sock wsgi_main:app

[Install]
WantedBy=multi-user.target